<div class="container">
    <div class="row">
        <div *ngFor="let weather of weatherData" class="col-md-3">
            <div (click)="navigateToCity(weather.name)" class="city-list">
                <h1>{{ weather.name }}</h1>
                <div class="city-details">Temp: {{ weather.main.temp }}&#8451;</div>
                <div class="city-details">Sunrise: {{ timeConverter(weather.sys.sunrise) }}</div>
                <div class="city-details">Sunset: {{ timeConverter(weather.sys.sunset) }}</div>
            </div>
        </div>
    </div>
</div>