<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">GO HOME</a>
            <div class="customer-details">
                <h1> Customer Details</h1>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of getDetailList">
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.email }}</td>
                    <td>{{ detail.phone }}</td>
                    <td>{{ detail.address }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>