<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="city-details">
                <h1> details</h1>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Temperature &#8451;</th>
                    <th>Sea Level (hPa)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of getDetailList">
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.email }}</td>
                    <td>{{ detail.phone }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>