<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form class="form-inline" [formGroup]="searchForm">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" autocomplete="off" (keyup)="getCustomerList()" formControlName="search">
                        <button style="float: right;" class="btn btn-primary" type="submit" (click)="addCustomer()" value="Submit">Add Customer</button>
                    </div>
                </form>                
            </div>
          </div>

        <div *ngFor="let customer of customerList" class="col-md-3">
            <div (click)="navigateTodetailsPage(customer.id)" class="customer-list">
                <p class="lead">{{ customer.name }}</p>
            </div>
        </div>
    </div>
</div>